<div class="container mt-5">
    <h1 class="text-center">Taller Automotriz</h1>
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="list-group">
          <a routerLink="/register-ost" class="list-group-item list-group-item-action">Registrar OST</a>
          <a routerLink="/ost-details" class="list-group-item list-group-item-action">Detalles de OST</a>
          <a routerLink="/problem-log" class="list-group-item list-group-item-action">Bitácora de Problemas</a>
        </div>
      </div>
    </div>
  </div>
  